{% extends 'base.html.twig' %}

{% block title %}BookCat!{% endblock %}

{% block body %}
<div class="container p-3">
    <a href="/">Main Page</a><br>
    <a href="/books/add">Add book</a><br><br>
    
    {% for book in books %}
    <a href="{{ path('book_show', {'slug': book.slug}) }}">{{ book.title }}</a><br>
    {% endfor %}
</div>
{% endblock %}
