{% extends 'base.html.twig' %}

{% block body %} 

<div class="container p-3">
    <p>{{ book.title}}</p>
    <p>{{ book.description}}</p>
    <a href="{{ path('book_edit', {'slug': book.slug}) }}">Edit Book</a><br>
    <a href="{{ path('book_delete', {'slug': book.slug}) }}">Delete Book</a><br>
    <a href="/books">Books</a><br>
    <a href="/">Main Page</a><br>
</div>

{% endblock %}