{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { 
        margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; 
        background: #F5F5F5; padding: 2px 6px; 
      }
</style>

<div class="example-wrapper">
    <h1>BookCat</h1>

    Let's Start
    <ul>
        <li><a href="/books"</a>Your Books</li>
        <li><a href="#"</a>Authors</li>
    </ul>
</div>
{% endblock %}
